@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  background-color: white;
   font-family: "Inter"!important; 
   
}
a,
span {
  font-weight: 400;  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main padding */
.main-padding {
  padding: 80px 0;
}
.main-heading{
  
font-size: 48px;
font-weight:bold;
 color:#000000; 

}
.main-paragraph{
  font-size: 15px;
    color:#555555;
    font-weight: 500;


}
.redhead{
  font-size: 13px;
  color: #FF6868;
  font-weight: bold;
   text-transform: uppercase;
  letter-spacing: 1px;
      margin-bottom: 26px;
  
}