.footer{
    background-color: rgb(250,250,250);
    padding: 20px 0;
}
.footersecfpara{
        font-size: 16px;
   color:#555555;
    margin-top: 20px;
   
}
.listname{
    font-size: 15px;
    color: #000000;
    
    
    
}
.footersecondlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footersecondlist li a{
    text-decoration: none;
    color: #555555;
    font-size: 14px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.footersecondlist li a:hover {
  color: #39DB4A;
  text-shadow: 0 0 1px #000000;
}
.secsecond{
    display: flex;
    flex-direction: column;
   
    
     gap: 13px;
}
.footersecfirst{
        width: 51%;
}
.socialcircle{
        border-radius: 50%;
     width: 30px;
    padding: 1px;
    text-align: center;
     transition: box-shadow 0.3s ease, transform 0.3s ease;
   
    background: #39DB4A;
}
.socialcircle i{
    color: white;
    font-size: 17px;
}
.socialcircle:hover {
    box-shadow: 0 8px 20px rgba(0, 128, 0, 0.3); /* subtle green shadow */
    transform: translateY(-3px); /* optional lift effect */
}
.socialicons{
        display: flex;

    gap: 20px;
    align-items: center;
}
.lightgreen{
    background-color: #EDFFEF;
     transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.lightgreen i{
    color: #484848;
}
.lightgreen:hover {
    box-shadow: 0 8px 20px rgba(57, 219, 74, 0.5); 
    transform: translateY(-3px); 
}
.lastsec{
        display: flex;
        align-items: center;
    margin-top: 66px;
        gap: 240px;
}


.copy a{
    text-decoration: none;
     font-size: 13px;
     color: #555555;
      transition: color 0.3s ease;


}
.copy a:hover{
      color: #39DB4A;
}