.hero {
    background-color: rgb(250, 250, 250);
}

/* parentclass */
.heroleft {
    margin-top: 220px;
}


/* animate  on scroll*/
.girlhero {
    width: 90%;
}

.herogreen {
    color: #39DB4A;
    font-size: 48px;
    font-weight: bold;
}

.circlebtn {
    border-radius: 50%;
    border: none;
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 6px 27px 34px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.circlebtn i {
    color: #1E1E1E;
    font-size: 21px;
    transition: color 0.3s ease;
}

.circlebtn:hover {
    background-color: #39DB4A;
    box-shadow: 0 8px 20px rgba(57, 219, 74, 0.3);

    transform: translateY(-3px);
}

.herobtn {
    display: flex;
    gap: 20px;
    align-items: center;

}

.herobtn a {
    text-decoration: none;
    color: #4D4D4D;
}

.herohead {
    width: 94%;
    line-height: 1.5;
}

.heropara {
    margin: 38px 0px;
    
    line-height: 1.6;

}

.boxshadowbtn {
    background: #39DB4A;
    box-shadow: 0 6px 20px rgba(57, 219, 74, 0.5);
    /* padding: 10px 20px; */
    /* margin: 20px; */
    display: inline-block;

}

.boxshadowbtn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(57, 219, 74, 0.5);
}

.watch {
    color: #4D4D4D;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.watch:hover {
    color: #39DB4A;
    transform: translateX(1px);
}

/* right side */
.heroright {
    margin-top: 80px;
    position: relative;
    z-index: 1;
}



.chat-bubble {
    position: relative;
    background: rgb(255, 255, 255);
    /* color: black; */
    padding: 11px 20px;
    border-radius: 20px;
    max-width: 300px;
    /* font-size: 14px; */
    line-height: 1.4;
    border-bottom-right-radius: 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Tail on bottom-right */
/* .chat-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #e9e1e13d;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: -12px;
  margin-right: -1px;
} */


.chat-bubble::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: rgb(255, 255, 255);
    border-bottom: 0;
    border-right: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    margin-bottom: -10px;
    margin-right: 0px;
    border-radius: 0 0 6px 6px;
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); */
}

.bubblepos {

    position: absolute;
    top: 151px;
    left: -22px;
}

/* use parentclass */
.rightlabelparent .labelback {
    background-color: #FFFFFF;
    width: 207px;
    padding: 12px;
    border-radius: 15px;
    bottom: 0px;
    left: 22px;
    position: absolute;
}

.rightlabelparent .labelback2 {
    left: auto;
    right: 0;
}

.imagecontainer {
    /* width: 23%; */
    display: flex;
    gap: 10px;
}

.headheroright {
    color: #2C2C2C;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.yellowfill {
    color: #FFE605;
}

.grey {
    color: #B0B4B7;
}

.lowercasehead {
    text-transform: unset;
}

.dollar {
    color: #FF7979;
    font-size: 14px;
    font-weight: bold;
}

.labelparalast {
    color: #515151;
    font-size: 15px;
    font-weight: bold;
}